body{
    //background:#e8f2f2 !important;
    //background:#ccc !important;
    //background:#fafafa !important;
}

.navbar{
   //padding-top:0 !important; 
  // margin-top:0 !important;
}

.post-tag
{
	background:#f4f4f4 ;
	padding:4px;
	margin:3px 0;
	display:block;
}